@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f5da;
  color: #59391a;
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #59391a;
}
